/* Estilos generales */
body {
    animation: gradientAnimation 15s ease infinite; /* Animación de fondo */
    background: linear-gradient(270deg, #ffcc00, #ff6699, #66ccff, #ffcc00); /* Gradiente de colores complementarios */
    background-size: 400% 400%; /* Tamaño del fondo para la animación */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}


